@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
  background: #0959a9;
  color: #f9f9f9;
}


#app {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: auto;
  max-width: 1000px;
}

a {
  color: #f5f5f5;
}

h1 {
  margin-top: 0;
}

h2 {
  margin-bottom: 0;
}

input {
  border: 2px solid;
  border-radius: 4px;
  font-size: 1em;
  transition: border-color 0.5s ease-out;
  border-color: gray;
}

.br {
  border-radius: 10px;
}

.bg-primary {
  background-color: #4db3ff;
  color: #FFF;
}

.blue-container {
  margin-top: 70px;
  background-color: #61a4e79f;
  border-radius: 20px;
}

.btn-link {
  padding: 17px 30px 10px 30px;
  text-decoration: none;
}

.btn-back {
  padding: 15px;
  float:left;
}
.clearfix {
  overflow: auto;
}

.btn-pr {
  outline: none;
  border: 0;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 4px 8px rgba(32,160,255,.3);
  font-weight: 600;
  border-radius: 3px;
  min-width: 90px;
}

.bg-primary:hover {
  background-color: #2d648e;
  box-shadow: none;
}

.bg-secondary {
  background-color: #FEE440;
}

.bg-alternative {
  background-color: #111111;
}

.loader {
  margin: auto;
  display: block;
  width: 220px;
  height: 140px;
  background: #979794;
  box-sizing: border-box;
  position: relative;
  border-radius:6px;
  perspective: 500px;
}

.loader:before{
  content: '';
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  border-radius:8px;
  background: #f5f5f5  no-repeat;
  background-size: 70px 10px;
  background-image: 	linear-gradient(#ddd 100px, transparent 0) ,
            linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0);
  background-position: 15px 30px , 15px 60px , 15px 90px, 
            105px 30px , 105px 60px , 105px 90px;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
.loader:after, .bg-page {
  content: '';
  position: absolute;
  width: calc(50% - 10px);
  right: 10px;
  top: 10px;
  bottom: 10px;
  border-radius: 8px;
  background: #fff no-repeat;
  background-size: 70px 10px;
  background-image: linear-gradient(#ddd 100px, transparent 0), 
          linear-gradient(#ddd 100px, transparent 0), 
          linear-gradient(#ddd 100px, transparent 0);
  background-position: 50% 30px ,50% 60px , 50%  90px;
}

.loader:after {
  animation: paging 1s linear infinite;
  transform: rotateY(0deg );
  transform-origin: left center;
}

@keyframes paging {
  to {
    transform: rotateY( -180deg );
  }
}

.scroll-direction {
  margin: 10px auto auto auto;
  display: none;
  width: 78px;
  height: 38px;
  box-sizing: border-box;
  border: 2px solid #a6a6a6;
  position: relative;
  border-radius: 25% 25% 25% 25% / 50% 50% 50% 50%;
}

.scroll-direction::before {
  content: '';
  position: absolute;
  top: 33%;
  width: 10px;
  height: 10px;
  background: #a6a6a6;
  border-radius: 50%;
  animation: fadeDown 1.4s ease-out infinite;
}

@keyframes fadeDown {
  0% {
    left: 0%;
    opacity: 1;
  }
  100% {
    left: 60%;
    opacity: 0;
  }
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .scroll-direction {
    display: block;
  } 
  .card-grid {
    flex-wrap: nowrap;
    width: 100%;
    overflow: scroll;
  }
  [class*="col-"] {
    width: 100%;
  }
}
